<link rel="stylesheet" href="/css/chat_box.css">
  &emsp;<a href="/"">Return to Home Page</a>
<br>
<h2>CoMEET | profile page</h2>

<ul>
    <li><%= user.name%></li>
   <li><%= user.email%></li>
   <li><%= user.Specilist%></li>
   <li><%= user.Branch%></li>
   <li><%= user.Year%></li>
   <form action="/profile" method="get">
    <button>edit</button>
     
   </form>

</ul>


<section>
  <%- include('_chat_box') -%>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="/js/chat_engine.js"></script>

<script>
// new ChatEngine('user-chat-box', '<%= locals.user.email %>')
new ChatEngine('user-chat-box', '<%= locals.user.name %>')
</script>

